.card {
  background: hsl(0, 0%, 20%);
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  border-radius: 10px;
  padding: 0.75rem;

  .card-body {
    padding: 1rem;

    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;

        img {
          height: auto;
          width: 100px;
          border-radius: 50%;
        }
      }
    }
  }
}
