.pagination {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;

    li {
      button {
        padding: 1.25rem;
        color: #fff;
        background-color: hsl(0, 0%, 8%);
        border: 2px solid skyblue;
        border-radius: 10px;
      }

      button:hover {
        color: hsl(0, 0%, 8%);
        background: skyblue;
        border: 2px solid #fff;
      }
    }
  }
}
