@import "pagination";
@import "followers_page";
@import "following_page";

@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-family: "Anta", sans-serif;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.loading {
  display: grid;
  place-items: center;
}