@import "card";
@import "pagination";
@import "followers_page";

@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

body {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-family: "Anta", sans-serif;
}

.loading {
  display: grid;
  place-items: center;
}
